<ons-page id="cards">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Cards</div>
  </ons-toolbar>

  <ons-card>
    <img src="https://images.unsplash.com/photo-1643979831008-7e5c1a808826?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1426&q=80" style="width: 100%" />
    <div class="title">Cool Lightning</div>
    <div class="content">
      <ons-list>
        <ons-list-header>Things about lightning</ons-list-header>
        <ons-list-item>Loud</ons-list-item>
        <ons-list-item>Bright</ons-list-item>
        <ons-list-item>Dangerous</ons-list-item>
      </ons-list>
    </div>
    <br />
    <ons-button modifier="large" id="cardBtn">Tabs</ons-button>
  </ons-card>


</ons-page>