<ons-page id="tabs">
  <div id="progress-bar" class="progress-bar progress-bar--material progress-bar--indeterminate"></div>  
  
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Tabs</div>
    </ons-toolbar>
    <ons-card >
      <div id="imgContainer"></div>
      <div class="title">Cool Lightning</div>
      <div class="content">
        <ons-list id="detailsList"></ons-list>
          <ons-list-header id="typelist">TYPE</ons-list-header>    
          <ons-list-header id="statlist">STAT</ons-list-header>
        </ons-list> 
      </div>
    </ons-card>
        
</ons-page>

